@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "NotoSansKR-Regular";
  src: url("../src/assets/fonts/NotoSansKR-Regular.otf") format("truetype");
}

body{
  font-family: "NotoSansKR-Regular";
}